<section class="wrapper style1 align-center">
  <div class="inner">
    <header>
      <h2>Create history</h2>
    </header>
    <div class="content">
      <%= @entry.entrytitle %>
    </div>
  </div>
</section>
