<section class="wrapper style1 align-center">
  <div class="inner">
    <header>
      <h2><%= @entry.entrytitle %></h2>
    </header>
    <div class="content">
      <p><%= @entry.entrytext %></p>
    </div>
  </div>
</section>
