<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right onscroll-content-fade-in">
  <div class="content">
    <h1>The World Diary</h1>
    <p class="major">
      Each day is 24 hours. Each hour is 60 minutes. Each minute is 60 seconds. <br />
      There are 7 Billion people in the World. <br/>
      That gives 604.800.000.000.000 unique seconds.<br />
      Imagine being able to experience all of them.
    </p>
    <p>
      The World Diary makes it easier...
    </p>
    <a href="#gettingcloser" class="button animationbtn">Share your story...</a>
  </div>
  <div class="image">
    <img src="https://images.unsplash.com/photo-1491446559770-3fc03a481cdf" alt="Off-road car on road" />
  </div>
</section>

<section id="gettingcloser" class="banner style1 orient-right content-align-left image-position-right fullscreen onscroll-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2>Get inspired.</h2>
    <p class="major">
      Do you know your neighbour? What is a day like during Chinese New Year? Did your relation break?
    </p>
    <p>
      We are all one of a kind, but we are all the same kind. Imagine being able to experience what each
      and every person in the World experiences daily. This collection of diaries intends to bring
      people together. Not physically, but mentally. <br />
      I really do believe that having a smaller mental gap between humans will make the World a better
      place.<br />
      <br />
      This is my contribution.
    </p>
    <%= link_to "Share your story!", new_entry_path, :class => "button" %>
  </div>
  <div class="image">
    <img src="https://images.unsplash.com/photo-1493514789931-586cb221d7a7" alt="NYC" />
  </div>
</section>
