<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right onscroll-content-fade-in">
  <div class="content">
    <h1>The World Diary</h1>
    <p class="major">
      Each day is 24 hours. Each hour is 60 minutes. Each minute is 60 seconds. <br />
      There are 7 Billion people in the World. <br/>
      That gives 604.800.000.000.000 unique seconds.<br />
      Imagine being able to experience all of them.
    </p>
    <p>
      Now you can...
    </p>
    <a href="#inspire" class="button">Share your story...</a>
  </div>
  <div class="image">
    <img src="https://images.unsplash.com/photo-1491446559770-3fc03a481cdf" alt="Off-road car on road" />
  </div>
</section>

<section id="inspire" class="banner style1 orient-right content-align-left image-position-right fullscreen onscroll-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2>Get inspired.</h2>
    <p class="major">
      What was your last accomplishment? How did it feel? Did you dream tonight?
    </p>
    <p>
      What this webpage is intended to do is to bring humans closer. We are all part of each second in time, we are just spread out across our globe and experiencing it all different.
      This page intends to put each experience within reach for every person. Let someone experience your life, and experience theirs. By doing so we might all get a bit closer.
    </p>
    <%= link_to "Share your story!", new_entry_path, :class => "button" %>
  </div>
  <div class="image">
    <img src="https://images.unsplash.com/photo-1493514789931-586cb221d7a7" alt="NYC" />
  </div>
</section>
